.pics {
    float: left;
    background-color: white;
}
  h1 {
    text-align: center;
    text-decoration-line: underline;
    
  }
  hr{
    border-style: none;
    border-top-style: dotted;
    border-color:#AD7BE9 ;
    border-width: 8px;
    
  }
  img{
    float: right;
  }
  body{
    background-color: #BFDCE5;
  }
  h2
  {
    text-decoration-line: underline;

  }
  table {
    border-collapse: collapse;
  }
  
  td {
    border-bottom: 5px solid lightsteelblue;
    height: 120px;
        width: 1000px;
  }
  .container {
    display: flex;
  }
  
  .column {
    flex: 1;
    position: relative;
  }
  
  .column-left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 98.5%;
    height: 100%;
    width: 10px;
    background-color: black;
  }
  .box {
    border: 6px solid black;
    padding: 10px;
    background-color: #f0f0f0;
    width: 600px;
  }
  .box2 {
    border: 6px solid black;
    padding: 10px;
    background-color: #f0f0f0;
    width: 880px;
  }
 